@import 'reset';
@import 'primeicons/primeicons.css';
@import './themes/dark';
@import './themes/light';
@import './variables/global';

@font-face {
    font-family: 'Rubik', sans-serif;
    src: url('/src/shared/assets/font-Rubik//Rubik-VariableFont_wght.woff2')
            format('woff2'),
        url('/src/shared/assets/font-Rubik/Rubik-VariableFont_wght.ttf')
            format('truetype');
}

@font-face {
    font-family: 'Rubik', sans-serif;
    src: url('/src/shared/assets/font-Rubik//Rubik-Italic-VariableFont_wght.woff2')
            format('woff2'),
        url('/src/shared/assets/font-Rubik/Rubik-Italic-VariableFont_wght.ttf')
            format('truetype');
    font-style: italic;
}

.app {
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--primary-color);
    font: var(--font-m);
}
