.navbar{
  display: flex;
  align-items: center;
  padding: 12px 20px;
  background-color: var(--navbar-bg-color);
  color: var(--primary-color);

  &__ul {
    display: flex;
    flex-direction: row;
  }
}
