.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info {
  width: 28%;
}

.wrapper__form {
  width: 70%;
}

.form {
  display: flex;
  justify-content: space-between;

  &__right {

    width: 45%;
  }

  &__left {
    width: 45%;
  }
}