.AddUser {
  &__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__col {
      width: 49%;

      div {
        margin-bottom: 20px !important;

        div {
          margin: 0 !important;
        }
      }

      &__element {
        margin-bottom: 20px;

        div {
          // margin-bottom: 0px;

        }
      }
    }
  }

  &__btn {}
}