.app.light {
    --bg-color: #f7f7f7;
    --primary-color: #000;
    --secondary-color: #222;

    --primary-link-color: #00fff3;
    --secondary-link-color: #6aceb7;
    --btn-bg-color: #ccc8f4;
    --input-bg-color: #d9d9d9;
    --input-text-color: #121212;
    --input-placeholder-color: #7d7d7d;
    --input-outline-color: #515151;
    --input-outline-secondary-color: #9490BB;
    --navbar-bg-color: #ccc8f4;
    --modal-background-color: #ffffff;
    --gray-text-color: #a0a0a0;
    --divider-color: #92b7cb;

    --black: #000000;
    --white: #fff;
    --file-upload-background-hover: #d1d0d0;
    --file-upload-background: #dddddd;
    --file-upload-background-add: #ccc8f4;
    --file-upload-background-add-hover: #bbb6f1;
}