.Admin{
        &__title{

                &__text{
                        color: hsl(0, 0%, 42%);
                        margin-bottom: 50px;
                }
        }

        &__linksBlock{
                display: flex;
                flex-direction: column;

                &__block{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: end;

                        padding: 20px 40px;
                        
                        border-color: #cccdd1;
                        border-width: 2px;
                        border-radius: 10px;
                        
                        margin-bottom: 30px;
                        &__info{
                                width: 70%;
                                &__title{
                                        font-size: 30px;
                                }

                                &__text{
                                        div{
                                                font-size: 18px;
                                                margin-bottom: 5px;
                                        }

                                        ol{
                                                li {
                                                        margin-bottom: 5px;
                                                }
                                        }
                                }
                        }

                        &__btn {
                                padding: 10px 25px;

                                box-sizing: border-box;
                                border-color: #e5e7eb;;  
                                border-width: 2px;
                                border-style: solid;
                                border-radius: 14px;

                        }
                }
        }
}