.RerurnPage{
  display: flex;
  flex-direction: row;

  &__left{
    width: 70%;
    padding: 0px 30px;
    &__title{
      margin-bottom: 20px;

    }

    &__form {
      
      &__block{
        margin-bottom: 20px;

        &__info{
          padding: 5px 15px 10px;
        }
      }

      &__btn{
        display: flex;
        flex-direction: row;
        justify-content: end;
      }
    }

    
  }

  &__right{
    width: 30%;

    &__title{
      margin: 40px 0 20px;
      font-size: 20px;
    }
    &__rules{
      padding: 0 0;
      li{
        margin-bottom: 20px;
      }
    }
  }
}