.container {
  width: 100%;
  aspect-ratio: 1 / 0.5;
  overflow-y: auto;
  scrollbar-width: 1px;
}

.ListboxItem {
  background-color: #f7f7f7;
  border: 1px solid #ededed;
  margin-bottom: 3px;
}

.message {
  text-align: center;
  background-color: #f7f7f7;
  border: 1px solid #ededed;
  padding: 10px;
  font-weight: 600;
  margin: 3% 15% 0;
  border-radius: 1rem;
}